# Razorpay
RAZOR_KEY_ID=
RAZOR_KEY_SECRET=

# SMTP
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=

SECRET_KEY=

DEBUG=
CSRF_COOKIE_SECURE=
SESSION_COOKIE_SECURE=
ALLOWED_HOSTS=

DB_NAME=
DB_USER=
DB_PASSWORD=
DB_HOST=
DB_PORT=

# GIS_DB_NAME=gis
# GIS_DB_USER=postgres
# GIS_DB_PASSWORD=1234
# GIS_DB_HOST=localhost

LANGUAGE_CODE=
TIME_ZONE=
USE_I18N=
USE_TZ=

EMAIL_HOST=
EMAIL_USE_TLS=
EMAIL_PORT=

#s3
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_STORAGE_BUCKET_NAME=
AWS_S3_SIGNATURE_NAME=
AWS_S3_REGION_NAME=
AWS_S3_FILE_OVERWRITE=
AWS_DEFAULT_ACL=
AWS_S3_VERIFY=
DEFAULT_FILE_STORAGE=