{% extends "store/layouts/main.html" %}

{% block content %}

<section id="form"><!--form-->
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="signup-form"><!--sign up form-->
                    <h2>New User Signup!</h2>
                    <form method="post">
                        {% csrf_token %}
                        {{form.first_name}}
                        {{form.last_name}}
                        {{form.username}}
                        {{form.phone}}
                        <label for="otp_id">OTP</label>
                        <div class="radio" style="display: flex; align-items: center;">
                            {% for radio in form.otp %}
                            {{ radio.tag }}
                            {{ radio.choice_label }}
                            {% endfor %}
                        </div>
                        {{form.email}}
                        {{form.password1}}
                        {{form.password2}}

                        <!-- {% for field in form %}
                        {% if field.errors %}
                        <ul class="errorlist" style="color: red;">
                            {% for error in field.errors %}
                            <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                        {% endfor %} -->

                        <button type="submit" id="submit" class="btn btn-default">Signup</button><br>

                        <span id="errormsg" style="color: red;"></span>

                        <div class="d-flex justify-content-center links">
                            Already have an account?
                            <a href="{% url 'login' %}">Login</a>
                        </div>
                    </form>
                </div><!--/sign up form-->
            </div>
        </div>
    </div>
</section><!--/form-->

{% endblock content %}

{% block scripts %}
<script>
    // Login Validation

    $('#submit').click(() => {
        var first_name = $('#first_name').val()
        var last_name = $('#last_name').val()
        var username = $('#username').val()
        var phone = $('#phone').val()
        var otp = $('input[name="otp"]:checked').val();
        var email = $('#email').val()
        var password1 = $('#password1').val()
        var password2 = $('#password2').val()
        var data = {
            'csrfmiddlewaretoken': '{{csrf_token}}',
            'first_name': first_name,
            'last_name': last_name,
            'username': username,
            'phone': phone,
            'otp': otp,
            'email': email,
            'password1': password1,
            'password2': password2,
        }
        if (first_name == '') {
            $('#errormsg').html('Enter first name')
        } else if (last_name == '') {
            $('#errormsg').html('Enter last name')
        } else if (username == '') {
            $('#errormsg').html('Enter username')
        } else if (phone == '') {
            $('#errormsg').html('Enter phone number')
        } else if (otp == '') {
            $('#errormsg').html('Select a method')
        } else if (email == '') {
            $('#errormsg').html('Enter email')
        } else if (password1 == '') {
            $('#errormsg').html('Enter password')
        } else if (password2 == '') {
            $('#errormsg').html('Confirm password')
        } else if (password1 != password2) {
            $('#errormsg').html('Passwords not matching')
        } else {
            $.ajax({
                method: "POST",
                url: "register",
                data: data,
                dataType: "json",
                success: function (data) {
                    if (data.success) {
                        window.location.replace('otp')
                    } else {
                        $('#errormsg').html(data.error)
                    }
                }
            });
        }
    }
    )
</script>
{% endblock scripts %}