{% extends "store/layouts/main.html" %}

{% block content %}

<section id="form"><!--form-->
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="signup-form"><!--sign up form-->
                    <h2>New User Signup!</h2>
                    <form method="post">
                        {% csrf_token %}
                        {{form.first_name}}
                        {{form.last_name}}
                        {{form.username}}
                        {{form.email}}
                        {{form.password1}}
                        {{form.password2}}
                        <button type="submit" class="btn btn-default">Signup</button><br>

                        <ul class="error-list text-danger" style="padding: 0;">
                            {% for field, errors in form.errors.items %}
                            {% for error in errors %}
                            <li>{{ error }}</li>
                            {% endfor %}
                            {% endfor %}
                        </ul>


                        <div class="d-flex justify-content-center links">
                            Already have an account?
                            <a href="{% url 'login' %}">Login</a>
                        </div>
                    </form>
                </div><!--/sign up form-->
            </div>
        </div>
    </div>
</section><!--/form-->

{% endblock content %}