{% extends "store/layouts/main.html" %}

{% block content %}
{% load static %}
<div class="row search-products justify-content-center">
    <div class="col-lg-6">
        <div class="input-group">
            <form action="{% url 'search_view' %}" method="GET">
                <span class="input-group-btn">
                    <input type="text" name="q" class="form-control" placeholder="Search products">
                    <button class="btn btn-primry search-product-btn" type="submit">Search</button>
                </span>
            </form>
        </div>
    </div>
</div>




{% include 'store/includes/carousel.html' %}
<!-- <div class="row">

    <div class="col-md-6">
        <div class="search_box form-group">
            <form action="#" method="get">
                {{ myfilter.form.name }}
                <button class="btn btn-primry" type="submit">Search</button>
            </form>
        </div>
    </div>
</div> -->
<section>
    <div class="container">
        <div class="row">
            {% include 'store/includes/filtersection.html' %}
            <div class="col-sm-9 padding-right">
                <div class="features_items" id="filtered-product">
                    <!--features_items-->
                    <h2 class="title text-center">Features Items</h2>
                    <div class="row">
                        {% for prod in products %}
                            <div class="col-sm-4">
                                <div class="product-image-wrapper">
                                    <div class="single-products product_data">
                                        <div class="productinfo text-center">
                                            {% csrf_token %}
                                            <input type="hidden" value="{{ prod.id }}" class="prod_id" name="product_id">
                                            <img src="{{prod.image.url}}" alt="" height="300px" width="auto" />
                                        
                                            {% if prod.offer or prod.sub_category.offer %}
                                            <h2>₹{{prod.get_discounted_price.0}}</h2>
                                            <s class="text-success">₹{{prod.price}}</s>
                                            {% else %}
                                            <h2>₹{{prod.price}}</h2>
                                            {% endif %}
                                        
                                            <p class="prod_name">{{prod.name}}</p>
                                            <a href="#" data-product={{prod.id}} data-action="add"
                                                class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to
                                                cart</a>
                                        </div>
                                        <div class="product-overlay">
                                            <div class="overlay-content">
                                                {% if prod.offer or prod.sub_category.offer %}
                                                <h2>₹{{prod.get_discounted_price.0}}</h2>
                                                <s class="text-success">₹{{prod.price}}</s>
                                                {% else %}
                                                <h2>₹{{prod.price}}</h2>
                                                {% endif %}
                                            
                                                <p>{{prod.name}}</p>
                                                <a href="#" data-product={{prod.id}} data-action="add"
                                                    class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add
                                                    to cart</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="choose">
                                        <ul class="nav nav-pills nav-justified">
                                            <li><a href="" data-product={{prod.id}} class="add-to-wishlist"><i
                                                        class="fa fa-heart"></i>Add to wishlist</a></li>
                                            <li><a href="{% url 'product_detail' prod.id  %}"><i
                                                        class="fa fa-plus-square"></i>View Product</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            {% if forloop.counter|divisibleby:3 and not forloop.last %}
                                </div><div class="row">
                            {% endif %}
                        {% endfor %}
                    </div>
                    
                </div>
                <!-- Pagination links -->
                <div class="text-center">
                    <nav aria-label="Page Navigation">
                        <ul class="pagination">
                            {% if products.has_previous %}
                                <li><a href="?page=1">First</a></li> 
                                <li><a href="?page={{ products.previous_page_number }}">Previous</a></li>
                            {% endif %}
                            {% for num in products.paginator.page_range %}
                                    {% if products.number == num %}
                                        <li class="active"><a href="?page={{ num }}">{{ num }}</a></li>
                                    {% elif num > products.number|add:'-3' and num < products.number|add:'3' %}
                                        <li><a href="?page={{ num }}">{{ num }}</a></li>
                                    {% endif %}
                            {% endfor %}
                            {% if products.has_next %}
                            <li><a href="?page={{ products.next_page_number }}">Next</a></li>
                            <li><a href="?page={{ products.paginator.num_pages }}">Last</a></li>
                            {% endif %}
                        </ul>
                    </nav>
                </div>
            </div>
            <!-- <div class="col-sm-3"></div> -->
        </div>
    </div>
</section>





{% endblock content %}
{% block scripts %}

<script src="{% static 'js/filter.js' %}"></script>
<script>
    function copyReferralCode() {
        const referralCode = document.getElementById("referral_code").textContent; // Get code from hidden element
        navigator.clipboard.writeText(referralCode)
            .then(() => {
                Swal.fire({
                    title: "Referral code copied to clipboard",
                    text: "Send to your friend, when they create an account ₹50 will be credited to your wallet",
                    icon: "success"
                });
            })
            .catch(err => {
                console.error("Failed to copy referral code:", err);
                Swal.fire({
                    title: "Try again",
                    text: "Failed to copy referral code. Please try again.",
                    icon: "Failed"
                });
            });
    }

    // Add event listener to the button
    document.querySelector(".get.referral_button").addEventListener("click", copyReferralCode);
</script>


{% endblock scripts %}