{% extends "store/layouts/main.html" %}

{% block content %}
{% load static %}
<section>
	<div class="container">
		<div class="row">

			<div class="col-sm-12 padding-right">
				<div class="product-details"><!--product-details-->
					<div class="col-sm-5">
						<div class="view-product">
							<img src="/media/{{ product.image }}" alt="Product image" />
							<!-- <h3>ZOOM</h3> -->
						</div>
					</div>
					<div class="col-sm-7">
						{% csrf_token %}
						<div class="product-information"><!--/product-information-->
							<!-- <img src="images/product-details/new.jpg" class="newarrival" alt="" /> -->
							<h2>{{product.name}}</h2>
							<!-- <p>Web ID: 1089772</p> -->
							<!-- <img src="images/product-details/rating.png" alt="" /> -->
							<div class="price-container">
								{% if product.offer and product.offer.is_active == True or product.sub_category.offer and product.sub_category.offer.is_active == True %}
                                    <h2>₹{{product.get_discounted_price.0}}</h2>
                                    <s class="text-success">₹{{product.price}}</s>
                                {% else %}
                                    <h2>₹{{product.price}}</h2>
                                {% endif %}
								<div class="col-sm-3">
									<a href="#" data-product={{product.id}} data-action="add"
										class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add
										to cart</a>
									<a href="" data-product={{product.id}} class="btn btn-default add-to-wishlist"><i
										class="fa fa-heart"></i>Add to wishlist</a>
								</div>
							</div>
							{% if product.sub_category.offer and product.offer %}
								{% if product.sub_category.offer.is_active == True and product.offer.is_active == True %}
							    	{% if product.offer > product.sub_category.offer %}
							    	    <p><b>Product Offer:</b> {{ product.offer }}</p>
							    	{% else %}
							    	    <p><b>Category Offer:</b> {{ product.sub_category.offer }}</p>
							    	{% endif %}
									{% elif product.offer %}
									<p><b>Product Offer:</b> {{ product.offer }}</p>
									{% elif product.sub_category.offer %}
									<p><b>Category Offer:</b> {{ product.sub_category.offer }}</p>
								{% endif %}
							{% endif %}
													
							<p><b>Availability:</b> {{product.availability}}</p>
							<!-- <p><b>Condition:</b> New</p> -->
							<p><b>Brand:</b> {{product.brand}}</p>
							<a href=""><img src="images/product-details/share.png" class="share img-responsive"
									alt="" /></a>
						</div><!--/product-information-->
					</div>
				</div><!--/product-details-->
			</div>
		</div>
	</div>
</section>

{% endblock content %}
{% block scripts %}
<script>
	$(document).ready(function() {
		initializeAddToCartButtons();
		initializeAddToWishlistButtons();
	});
</script>
{% endblock scripts %}