.orders .btn.btn-default{
    background-color: #fbc02d;
    color: #ffffff;
}

.orders .btn.btn-default:hover {
    background-color: inherit;
    color: inherit;
}

.panel-shadow {
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}

.col-md-6 .border.padding-1 {
    padding: 1px !important;
}

.border {
    border: 1px solid #ccc;
    padding: 2px; /* Adjust padding as needed */
}

/* Color of buttons in checkout */
.pay_btn{
    transition: background-color 0.3s ease, color 0.3s ease; /* Smooth transition for background color and text color */
    border: 1px solid transparent; 
}

.address_btn{
    transition: background-color 0.3s ease, color 0.3s ease; /* Smooth transition for background color and text color */
    border: 1px solid transparent; 
}

#cod_btn:hover{
    background-color: #ffffff;
    color: #FE980F;
    border-color: #FE980F;
}

#rzp-button1{
    background-color: #3b71ca;
}

#rzp-button1:hover{
    background-color: #ffffff;
    color: #3b71ca;
    border-color: #3b71ca;
}

.address_btn:hover{
    background-color: #ffffff;
    color: #FE980F;
}

.cancel_return{
    background-color: #525252 !important;
}

.cancel_return:hover{
    background-color: #ffffff !important;

}

.btn-defalt{
    background-color: #525252;
    color: #ffffff;
}

.btn-defalt:hover{
    background-color: #ffffff;
    color: #525252;
    border: 1px solid #525252;
}

#will_back:hover {
    cursor: default;
    background-color: #525252;
    color: #ffffff;
}

.btn-primry{
    background-color: #3b71ca;
    color: #ffffff;
}
.btn-primry:hover{
    background-color: #ffffff;
    color: #3b71ca;
    border: 1px solid #3b71ca;
}

.coupon-head{
    /* text-align: center; */
    color: #525252;
}

.blue-border {
    border-color: #3b71ca; 
}

/* cart summary */
.summary{
    width: auto;
}

