{% extends "dashboard/layouts/main-admin.html" %}
{% block content %}
{% load static %}
<div class="page-wrapper">
    <div class="content">
        <div class="page-header">
            <div class="page-title">
                <h4>Brand List</h4>
                <h6>Manage your Brand</h6>
            </div>
            <div class="page-btn">
                <a href="{% url 'create_coupon' %}" class="btn btn-added"><img src="{% static 'assets/img/icons/plus.svg' %}" class="me-2"
                        alt="img">Add Coupon</a>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <div class="table-top">
                    <div class="search-set">
                        <div class="search-path">
                            <a class="btn btn-filter" id="filter_search">
                                <img src="{% static 'assets/img/icons/filter.svg' %}" alt="img">
                                <span><img src="{% static 'assets/img/icons/closes.svg' %}" alt="img"></span>
                            </a>
                        </div>
                        <div class="search-input">
                            <a class="btn btn-searchset"><img src="{% static 'assets/img/icons/search-white.svg' %}" alt="img"></a>
                        </div>
                    </div>
                    <div class="wordset">
                        <ul>
                            <li>
                                <a data-bs-toggle="tooltip" data-bs-placement="top" title="pdf"><img
                                        src="{% static 'assets/img/icons/pdf.svg' %}" alt="img"></a>
                            </li>
                            <li>
                                <a data-bs-toggle="tooltip" data-bs-placement="top" title="excel"><img
                                        src="{% static 'assets/img/icons/excel.svg' %}" alt="img"></a>
                            </li>
                            <li>
                                <a data-bs-toggle="tooltip" data-bs-placement="top" title="print"><img
                                        src="{% static 'assets/img/icons/printer.svg' %}" alt="img"></a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="card" id="filter_inputs">
                    <div class="card-body pb-0">
                        <div class="row">
                            <div class="col-lg-3 col-sm-6 col-12">
                                <div class="form-group">
                                    <input type="text" placeholder="Enter Brand Name">
                                </div>
                            </div>
                            <div class="col-lg-3 col-sm-6 col-12">
                                <div class="form-group">
                                    <input type="text" placeholder="Enter Brand Description">
                                </div>
                            </div>
                            <div class="col-lg-1 col-sm-6 col-12 ms-auto">
                                <div class="form-group">
                                    <a class="btn btn-filters ms-auto"><img src="{% static 'assets/img/icons/search-whites.svg' %}"
                                            alt="img"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="table-responsive">
                    <table class="table datanew">
                        <thead>
                            <tr>
                                <th>
                                    <label class="checkboxs">
                                        <input type="checkbox" id="select-all">
                                        <span class="checkmarks"></span>
                                    </label>
                                </th>
                                <!-- <th>Image</th> -->
                                <th>Coupon Code</th>
                                <th>Coupon Type</th>
                                <th>Discount</th>
                                <th>Valid From</th>
                                <th>Valid To</th>
                                <th>Active Status</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for coupon in all_coupons %}
                            <tr>
                                <td>
                                    <label class="checkboxs">
                                        <input type="checkbox">
                                        <span class="checkmarks"></span>
                                    </label>
                                </td>
                                <!-- <td>
                                    {% if brand.image %}
                                    <a class="product-img">
                                        <img src="{{brand.image.url}}" alt="brand">
                                    </a>
                                    {% endif %}
                                </td> -->
                                <td>{{coupon.coupon_code}}</td>
                                <td>{{coupon.type}}</td>
                                <td>{{coupon.discount}}</td>
                                <td>{{coupon.valid_from}}</td>
                                <td>{{coupon.valid_to}}</td>
                                <td>{{coupon.active}}</td>
                                <td>
                                    <a class="me-3" href="{% url 'edit_coupon' coupon.id %}">
                                        <img src="{% static 'assets/img/icons/edit.svg' %}" alt="img">
                                    </a>
                                    <a class="me-3 confirm-text-coupon" href="javascript:void(0);" data-coupon-id="{{ coupon.id }}">
                                        <img src="{% static 'assets/img/icons/delete.svg' %}" alt="img">
                                    </a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock content %}
{% block script %}
<script>
    var deleteUrl = "{% url 'delete_coupon' %}";
    const csrf_token = "{{ csrf_token }}";
</script>
{% endblock script %}