{% extends "dashboard/layouts/main-admin.html" %}
{% block content %}
{% load static %}
<div class="page-wrapper">
    <div class="content">
        <div class="page-header">
            <div class="page-title">
                <h4>Product Edit</h4>
                <h6>Update your product</h6>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <form id="productForm" action="{% url 'edit_product' pk %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-lg-3 col-sm-6 col-12">
                            <div class="form-group">
                               {{form.name.label}}
                               {{form.name}}
                               {% if form.name.errors %}
                                    <div class="text-danger">
                                        {{ form.name.errors }}
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6 col-12">
                            <div class="form-group">
                                {{form.category.label}}
                                {{form.category}}
                                {% if form.category.errors %}
                                    <div class="text-danger">
                                        {{ form.category.errors }}
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6 col-12">
                            <div class="form-group">
                                {{form.sub_category.label}}
                                {{form.sub_category}}
                                {% if form.sub_category.errors %}
                                    <div class="text-danger">
                                        {{ form.sub_category.errors }}
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6 col-12">
                            <div class="form-group">
                                {{form.brand.label}}
                                {{form.brand}}
                                {% if form.brand.errors %}
                                    <div class="text-danger">
                                        {{ form.brand.errors }}
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6 col-12">
                            <div class="form-group">
                                {{form.quantity.label}}
                                {{form.quantity}}
                                {% if form.quantity.errors %}
                                    <div class="text-danger">
                                        {{ form.quantity.errors }}
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6 col-12">
                            <div class="form-group">
                                {{form.price.label}}
                                {{form.price}}
                                {% if form.price.errors %}
                                    <div class="text-danger">
                                        {{ form.price.errors }}
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6 col-12">
                            <div class="form-group">
                                {{form.offer.label}}(%)
                                {{form.offer}}
                                {% if form.offer.errors %}
                                    <div class="text-danger">
                                        {{ form.offer.errors }}
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6 col-12">
                            <div class="form-group">
                                {{form.availability.label}}
                                {{form.availability}}
                                {% if form.availability.errors %}
                                    <div class="text-danger">
                                        {{ form.availability.errors }}
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label> Product Image</label>
                                <div class="product-img-wrapper">
                                    <div class="row">
                                        <div class="col-xs-9">
                                            <img src="{{ product.image.url }}" alt="product" class="product-img" id="product-image" style="max-width: 200px;">
                                        </div>
                                        <div class="col-xs-3 text-right">
                                            {% if product.image != default_image_path %}
                                                <button type="button" class="close-btn" id="deleteImageModal">&times;</button>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                                <div class="image-upload">
                                    {{form.image}}
                                    <div class="image-uploads">
                                        <!-- <img src="{% static 'assets/img/icons/upload.svg' %}" alt="img"> -->
                                        <img id="uploadedImagePreview" src="{% static 'assets/img/icons/upload.svg' %}" alt="img" style="max-width: 100px;">
                                        <h4>Drag and drop a file to upload</h4>
                                    </div>
                                </div>
                                {% if form.image.errors %}
                                    <div class="text-danger">
                                        {{ form.image.errors }}
                                    </div>
                                {% endif %}
                            </div>
                        
                        </div>
                        <div class="col-lg-12">
                            <button type="submit" class="btn btn-submit me-2">Submit</button>
                            <a href="{% url 'read_products' %}" class="btn btn-cancel">Cancel</a>
                        </div>
                    </div>
                    <p style="color: red;">

                        {% for message in messages %}
                        {{message}}
                        {% endfor %}
                    </p>
                </form>
                
            </div>
        </div>

    </div>
</div>
{% endblock content %}
{% block script %}
<script>
    var deleteUrl = "{% url 'delete_product_image' product.pk %}";
    const csrf_token = "{{ csrf_token }}";
</script>
{% endblock script %}