{% extends "dashboard/layouts/main-admin.html" %}
{% block content %}
{% load static %}
<div class="page-wrapper">
    <div class="content">
        <div class="page-header">
            <div class="page-title">
                <h4>Coupon ADD</h4>
                <h6>Create new Coupon</h6>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <form action="{% url 'edit_coupon' pk %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="form-group">
                                {{form.coupon_code.label}}
                                {{form.coupon_code}}
                                {% if form.coupon_code.errors %}
                                    <div class="text-danger">
                                        {{ form.coupon_code.errors }}
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                {{form.type.label}}
                                {{form.type}}
                                {% if form.type.errors %}
                                    <div class="text-danger">
                                        {{ form.type.errors }}
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                {{form.discount.label}}
                                {{form.discount}}
                                {% if form.discount.errors %}
                                    <div class="text-danger">
                                        {{ form.discount.errors }}
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                {{form.valid_from.label}}
                                {{form.valid_from}}
                                {% if form.valid_from.errors %}
                                    <div class="text-danger">
                                        {{ form.valid_from.errors }}
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                {{form.valid_to.label}}
                                {{form.valid_to}}
                                {% if form.valid_to.errors %}
                                    <div class="text-danger">
                                        {{ form.valid_to.errors }}
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                {{form.active.label}}
                                {{form.active}}
                                {% if form.active.errors %}
                                    <div class="text-danger">
                                        {{ form.active.errors }}
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                        
                        <div class="col-lg-12">
                            <button type="submit" class="btn btn-submit me-2">Submit</button>
                            <a href="{% url 'read_coupons' %}" class="btn btn-cancel">Cancel</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>
{% endblock content %}