{% extends "dashboard/layouts/main-admin.html" %}
{% block content %}
{% load static %}

<div class="page-wrapper">
    <div class="content">
        <div class="page-header">
            <div class="page-title">
                <h4>Order List</h4>
                <h6>Manage your Orders</h6>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <div class="table-top">
                    <div class="search-set">
                        <div class="search-path">
                            <a class="btn btn-filter" id="filter_search">
                                <img src="{% static 'assets/img/icons/filter.svg' %}" alt="img">
                                <span><img src="{% static 'assets/img/icons/closes.svg' %}" alt="img"></span>
                            </a>
                        </div>
                        <div class="search-input">
                            <a class="btn btn-searchset"><img src="{% static 'assets/img/icons/search-white.svg' %}"
                                    alt="img"></a>
                        </div>
                    </div>
                    <div class="wordset">
                        <ul>
                            <li>
                                <a data-bs-toggle="tooltip" data-bs-placement="top" title="pdf"><img
                                        src="{% static 'assets/img/icons/pdf.svg' %}" alt="img"></a>
                            </li>
                            <li>
                                <a data-bs-toggle="tooltip" data-bs-placement="top" title="excel"><img
                                        src="{% static 'assets/img/icons/excel.svg' %}" alt="img"></a>
                            </li>
                            <li>
                                <a data-bs-toggle="tooltip" data-bs-placement="top" title="print"><img
                                        src="{% static 'assets/img/icons/printer.svg' %}" alt="img"></a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="table-responsive">
                    <table class="table  datanew">
                        <thead>
                            <tr>
                                <th>
                                    <label class="checkboxs">
                                        <input type="checkbox" id="select-all">
                                        <span class="checkmarks"></span>
                                    </label>
                                </th>
                                <th>Product Name</th>
                                <th>Reference</th>
                                <th>Created At</th>
                                <th>Custmer Name</th>
                                <th>Status</th>
                                <th>Payment Method</th>
                                <th>Grand Total (₹)</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for order in orders reversed %}
                            <tr>
                                <td>
                                    <label class="checkboxs">
                                        <input type="checkbox">
                                        <span class="checkmarks"></span>
                                    </label>
                                </td>
                                
                                <td class="productimgname">
                                    <ul>
                                        {% for order_item in order.orderitem_set.all %}
                                        <li>
                                            <div class="productimgname">
                                                <a href="javascript:void(0);" class="product-img">
                                                    <img src="{{ order_item.product.image.url }}" alt="product"> 
                                                </a>
                                                <a href="javascript:void(0);">{{ order_item.product.name }}</a>
                                            </div>
                                            
                                        </li>
                                        {% endfor %}
                                    </ul>
                                </td>
                               
                                <td>{{ order.tracking_no }}</td>
                                <td>{{ order.created_at }}</td>
                                <td>{{ order.user.username }}</td>
                                <td><span class="badges bg-lightgreen order-status">{{ order.get_status_display }}</span></td>
                                <td>{{ order.payment_mode }}</td>
                                <td>{{ order.grand_total }}</td>
                                <td class="buttons">
                                    <a class="me-3" href="{% url 'edit_order' order.id %}">
                                        <img src="{% static 'assets/img/icons/edit.svg' %}" alt="img">
                                    </a>
                                    {% if order.status < 4 %}
                                    <button class="me-3 btn btn-danger btn-sm cancel-order-dash" data-order-id="{{ order.id }}" href="#">
                                        Cancel
                                    </button>
                                    {% elif order.status == 5 %}
                                    <button class="me-3 btn btn-default btn-sm cancelled-msg" href="#">
                                        Cancelled
                                    </button>
                                    {% elif order.status == 6 %}
                                    <button class="me-3 btn btn-default btn-sm" href="#">
                                        Pick it
                                    </button>
                                    {% endif %}
                                    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">

                                    <!-- <a class="me-3 confirm-text order_cancel" href="#" pid="{{ order.id }}">
                                        <img src="{% static 'assets/img/icons/delete.svg' %}" alt="img">
                                    </a> -->
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                        
                        
                    </table>
                </div>
            </div>
        </div>

    </div>
</div>

{% endblock content %}
{% block script %}
    <script>
        var cancelOrderUrl = "{% url 'cancel_order' %}";
    </script>
{% endblock script %}